
p,li,H1 {
  text-align: center;
}

p.span {
  text-align: justify;
}

div {
  display: block;
  border:1px ridge #000;
  padding: 1em;
  vertical-align: middle;
}

.intro {
  background-color: white;
}

.day0 {
  background-color: lightgrey;
}

.day_image {
  width:50%;
  height:80%;
}

.day1 {
  background-color: lightblue;
}

footer{
  display: block;
  border:1px ridge #000;
  vertical-align: middle;
  background-color: lightgreen;
}

ul {
    align: left;
    list-style: square;
    padding: 0;
    margin: 0;
}
