.title {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.logo_image {
  transform: rotate(-45deg);
  width:5%;
  height:auto;
}

.logo_image_2 {
  transform: rotate(45deg);
  width:5%;
  height:auto;
}

.logo_image_about {
  width:15%;
  height:auto;
}
